<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style/pages.css">
    <script src="/assets/controller/menu.js"></script>
    <title>Cerozino Tattoo Studio: Piercing</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="../img/logo_tattoo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="/assets/img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/tattoo.html">tattoo</a></li>
                        <li><a href="#">piercing</a></li>
                        <li><a href="https://wa.me/5562994902133" target="_blank">contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="galeria">
            <div class="container">
                <div class="widget-title">
                    <div class="widget-title-text">piercings</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_fotos">
                    <div class="foto pg_ft1"></div>
                    <div class="foto pg_ft2"></div>
                    <div class="foto pg_ft3"></div>
                    <div class="foto pg_ft4"></div>
                </div>
                <div class="area_fotos">
                    <div class="foto pg_ft5"></div>
                    <div class="foto pg_ft6"></div>
                    <div class="foto pg_ft7"></div>
                    <div class="foto pg_ft8"></div>
                </div>
                <div class="area_fotos">
                    <div class="foto pg_ft9"></div>
                    <div class="foto pg_ft10"></div>
                    <div class="foto pg_ft11"></div>
                    <div class="foto pg_ft12"></div>
                </div>
                <div class="area_fotos">
                    <div class="foto pg_ft13"></div>
                    <div class="foto pg_ft14"></div>
                    <div class="foto pg_ft15"></div>
                    <div class="foto pg_ft16"></div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
